body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  color: red;
}
h1 {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:auto;}
  
  <!-- Top navigation -->
  <div class="topnav">
  
    <!-- Centered link -->
    <div class="topnav-centered">
      <a href="#home" class="active">Home</a>
    </div>
  
    <!-- Left-aligned links (default) -->
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
  
    <!-- Right-aligned links -->
    <div class="topnav-right">
      <a href="#search">Search</a>
      <a href="#about">About</a>
    </div>
  
  </div> 
  <div>s float left